USE [master]
GO
/****** Object:  Database [AgriMarket]    Script Date: 11.02.2026 13:44:39 ******/
CREATE DATABASE [AgriMarket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgriMarket', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AgriMarket.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgriMarket_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AgriMarket_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgriMarket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgriMarket]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 11.02.2026 13:44:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parent_id] [int] NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CROP_PLANTINGS]    Script Date: 11.02.2026 13:44:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CROP_PLANTINGS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parcel_id] [int] NOT NULL,
	[crop_id] [int] NOT NULL,
	[planted_area] [decimal](18, 2) NULL,
	[planted_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CROPS]    Script Date: 11.02.2026 13:44:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CROPS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FARMERS]    Script Date: 11.02.2026 13:44:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FARMERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[farm_name] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIELDS]    Script Date: 11.02.2026 13:44:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIELDS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[farmer_id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[total_area] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTINGS]    Script Date: 11.02.2026 13:44:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTINGS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[farmer_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[location] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARCELS]    Script Date: 11.02.2026 13:44:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARCELS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_id] [int] NOT NULL,
	[area] [decimal](18, 2) NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 11.02.2026 13:44:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 11.02.2026 13:44:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Plantings_Crop]    Script Date: 11.02.2026 13:44:39 ******/
CREATE NONCLUSTERED INDEX [IX_Plantings_Crop] ON [dbo].[CROP_PLANTINGS]
(
	[crop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Plantings_Parcel]    Script Date: 11.02.2026 13:44:39 ******/
CREATE NONCLUSTERED INDEX [IX_Plantings_Parcel] ON [dbo].[CROP_PLANTINGS]
(
	[parcel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Farmers_UserId]    Script Date: 11.02.2026 13:44:39 ******/
CREATE NONCLUSTERED INDEX [IX_Farmers_UserId] ON [dbo].[FARMERS]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fields_Farmer]    Script Date: 11.02.2026 13:44:39 ******/
CREATE NONCLUSTERED INDEX [IX_Fields_Farmer] ON [dbo].[FIELDS]
(
	[farmer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Listings_Farmer]    Script Date: 11.02.2026 13:44:39 ******/
CREATE NONCLUSTERED INDEX [IX_Listings_Farmer] ON [dbo].[LISTINGS]
(
	[farmer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Listings_Product]    Script Date: 11.02.2026 13:44:39 ******/
CREATE NONCLUSTERED INDEX [IX_Listings_Product] ON [dbo].[LISTINGS]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parcels_Field]    Script Date: 11.02.2026 13:44:39 ******/
CREATE NONCLUSTERED INDEX [IX_Parcels_Field] ON [dbo].[PARCELS]
(
	[field_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 11.02.2026 13:44:39 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[PRODUCTS]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 11.02.2026 13:44:39 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[USERS]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CROP_PLANTINGS] ADD  DEFAULT (getdate()) FOR [planted_date]
GO
ALTER TABLE [dbo].[LISTINGS] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[CATEGORIES] ([id])
GO
ALTER TABLE [dbo].[CATEGORIES] CHECK CONSTRAINT [FK_Categories_Parent]
GO
ALTER TABLE [dbo].[CROP_PLANTINGS]  WITH CHECK ADD  CONSTRAINT [FK_Plantings_Crops] FOREIGN KEY([crop_id])
REFERENCES [dbo].[CROPS] ([id])
GO
ALTER TABLE [dbo].[CROP_PLANTINGS] CHECK CONSTRAINT [FK_Plantings_Crops]
GO
ALTER TABLE [dbo].[CROP_PLANTINGS]  WITH CHECK ADD  CONSTRAINT [FK_Plantings_Parcels] FOREIGN KEY([parcel_id])
REFERENCES [dbo].[PARCELS] ([id])
GO
ALTER TABLE [dbo].[CROP_PLANTINGS] CHECK CONSTRAINT [FK_Plantings_Parcels]
GO
ALTER TABLE [dbo].[FARMERS]  WITH CHECK ADD  CONSTRAINT [FK_Farmers_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[FARMERS] CHECK CONSTRAINT [FK_Farmers_Users]
GO
ALTER TABLE [dbo].[FIELDS]  WITH CHECK ADD  CONSTRAINT [FK_Fields_Farmers] FOREIGN KEY([farmer_id])
REFERENCES [dbo].[FARMERS] ([id])
GO
ALTER TABLE [dbo].[FIELDS] CHECK CONSTRAINT [FK_Fields_Farmers]
GO
ALTER TABLE [dbo].[LISTINGS]  WITH CHECK ADD  CONSTRAINT [FK_Listings_Farmers] FOREIGN KEY([farmer_id])
REFERENCES [dbo].[FARMERS] ([id])
GO
ALTER TABLE [dbo].[LISTINGS] CHECK CONSTRAINT [FK_Listings_Farmers]
GO
ALTER TABLE [dbo].[LISTINGS]  WITH CHECK ADD  CONSTRAINT [FK_Listings_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCTS] ([id])
GO
ALTER TABLE [dbo].[LISTINGS] CHECK CONSTRAINT [FK_Listings_Products]
GO
ALTER TABLE [dbo].[PARCELS]  WITH CHECK ADD  CONSTRAINT [FK_Parcels_Fields] FOREIGN KEY([field_id])
REFERENCES [dbo].[FIELDS] ([id])
GO
ALTER TABLE [dbo].[PARCELS] CHECK CONSTRAINT [FK_Parcels_Fields]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[CATEGORIES] ([id])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_Products_Categories]
GO
USE [master]
GO
